<section class="about" id="about">
  <div class="about-wrap">
    <h2 class="www-title"><span class="red-color">.</span>o mnie</h2>
    <div class="about-tiles-wrap">
      <div class="about-tile" id="bobek-avatar">
        <div class="bobek-circle"></div>
      </div>
      <div class="about-tile" id="hello-computer">
        <div class="hello-computer"></div>
      </div>
    </div>

    <div class="about-tiles-wrap" id="description-wrap">
      <div class="about-tile" id="text-area">
        <h4>Cześć!</h4>
        <div class="description-line"></div>
        <div class="about-description">
          Nazywam się Błażej Wilczyński. Pracuję jako architekt, a w wolnym
          czasie zajmuję się pisaniem, grafiką 2D/3D oraz tworzeniem stron www.
          <br><br>Czasem pogram na gitarze, a moim ulubionym zespołem jest
          Metallica.
        </div>
      </div>
      <div class="about-tile" id="text-area-links">
        <h4>Linki!</h4>
        <div class="description-line"></div>

        <!-- desktop links -->
        <div class="links-wrap first-row" id="desktop-links">
          <a href="http://www.travisneilson.com" class="button-code" target="_blank">Travis Neilson</a>
          <a href="http://www.chamferzone.com" class="button-gfx" target="_blank">Chamfer Zone</a>
          <a href="http://www.helloroman.com" class="button-code" target="_blank">Hello Roman</a>
        </div>
        <div class="links-wrap" id="desktop-links">
          <a href="http://www.metallica.com" class="button-music" target="_blank">Metallica</a>
          <a href="http://www.wesbos.com" class="button-code" target="_blank">Wes Bos</a>
          <a href="http://www.max3d.pl" class="button-gfx" target="_blank">Max3D</a>
          <a href="https://open.spotify.com/show/3wMgSXoca4MTuEzBK76tud" class="button-podcast" target="_blank">RCK BRS</a>
        </div>
        <div class="links-wrap" id="desktop-links">
          <a href="https://www.youtube.com/watch?v=OtctMSKDLaY" class="button-gfx" target="_blank">Jakub Knapik</a>
          <a href="https://open.spotify.com/show/3FNbVotBg6nsHsfheNmLAD" class="button-podcast" target="_blank">GNM</a>
          <a href="http://www.incubushq.com" class="button-music" target="_blank">Incubus</a>
          <a href="https://open.spotify.com/show/6kynVdg40HssF9OCSCF5z0" class="button-podcast" target="_blank">GNM Plus</a>
        </div>
        <div class="links-wrap" id="desktop-links">
          <a href="https://www.polskigamedev.pl/" class="button-podcast" target="_blank">Polski Gamedev</a>
          <a href="https://open.spotify.com/show/7dQrF3hccpNwoB56bX86yl" class="button-podcast" target="_blank">Faux Paux</a>
          <a href="https://www.youtube.com/watch?v=4D3oIvnAb7k" class="button-gfx" target="_blank">Michał Skrzypiec</a>
        </div>
        <div class="links-wrap" id="desktop-links">
          <a href="https://www.artstation.com/klicek" class="button-gfx" target="_blank">Klicek</a>
          <a href="https://open.spotify.com/show/62HlRCGnRnUENPPOfGYdyY" class="button-code" target="_blank">Piątki po Deployu</a>
          <a href="https://open.spotify.com/show/0iCB70pKYejAaeSuL6Deh5" class="button-podcast" target="_blank">Eurogamer Extra</a>
        </div>

<!-- end of desktop links -->

<!-- mobile links version 1 -->

        <div class="links-wrap first-row" id="mobile-links">
          <a href="http://www.travisneilson.com" class="button-code" target="_blank">Travis Neilson</a>
          <a href="https://open.spotify.com/show/3FNbVotBg6nsHsfheNmLAD" class="button-podcast" target="_blank">GNM</a>
          <a href="http://www.chamferzone.com" class="button-gfx" target="_blank">Chamfer Zone</a>
        </div>
        <div class="links-wrap" id="mobile-links">
          <a href="http://www.helloroman.com" class="button-code" target="_blank">Hello Roman</a>
          <a href="http://www.metallica.com" class="button-music" target="_blank">Metallica</a>
          <a href="http://www.wesbos.com" class="button-code" target="_blank">Wes Bos</a>
        </div>
        <div class="links-wrap" id="mobile-links">
          <a href="http://www.max3d.pl" class="button-gfx" target="_blank">Max3D</a>
          <a href="https://open.spotify.com/show/3wMgSXoca4MTuEzBK76tud" class="button-podcast" target="_blank">RCK BRS</a>
          <a href="https://www.youtube.com/watch?v=OtctMSKDLaY" class="button-gfx" target="_blank">Jakub Knapik</a>
        </div>
        <div class="links-wrap" id="mobile-links">
          <a href="http://www.incubushq.com" class="button-music" target="_blank">Incubus</a>   
          <a href="https://www.polskigamedev.pl/" class="button-podcast" target="_blank">Polski Gamedev</a>
          <a href="https://open.spotify.com/show/6kynVdg40HssF9OCSCF5z0" class="button-podcast" target="_blank">GNM Plus</a>
        </div>
        <div class="links-wrap" id="mobile-links">
          <a href="https://www.artstation.com/klicek" class="button-gfx" target="_blank">Klicek</a>
          <a href="https://open.spotify.com/show/7dQrF3hccpNwoB56bX86yl" class="button-podcast" target="_blank">Faux Paux</a>
          <a href="https://www.youtube.com/watch?v=4D3oIvnAb7k" class="button-gfx" target="_blank">Michał Skrzypiec</a>
        </div>
        <div class="links-wrap" id="mobile-links">
          <a href="https://open.spotify.com/show/62HlRCGnRnUENPPOfGYdyY" class="button-code" target="_blank">Piątki po Deployu</a>
          <a href="https://open.spotify.com/show/0iCB70pKYejAaeSuL6Deh5" class="button-podcast" target="_blank">Eurogamer Extra</a>
        </div>

        <!-- end of mobile links version 1 -->

        <!-- mobile links version 2 -->

        <div class="links-wrap first-row" id="mobile-links-2">
          <a href="http://www.travisneilson.com" class="button-code" target="_blank">Travis Neilson</a>
          <a href="https://www.artstation.com/klicek" class="button-gfx" target="_blank">Klicek</a>
          <a href="https://open.spotify.com/show/3FNbVotBg6nsHsfheNmLAD" class="button-podcast" target="_blank">GNM</a>  
        </div>
        <div class="links-wrap" id="mobile-links-2">
          <a href="http://www.chamferzone.com" class="button-gfx" target="_blank">Chamfer Zone</a>
          <a href="http://www.helloroman.com" class="button-code" target="_blank">Hello Roman</a>  
        </div>
        <div class="links-wrap" id="mobile-links-2">
          <a href="http://www.metallica.com" class="button-music" target="_blank">Metallica</a>
          <a href="http://www.wesbos.com" class="button-code" target="_blank">Wes Bos</a>
          <a href="http://www.max3d.pl" class="button-gfx" target="_blank">Max3D</a>
        </div>
        <div class="links-wrap" id="mobile-links-2">
          <a href="https://open.spotify.com/show/6kynVdg40HssF9OCSCF5z0" class="button-podcast" target="_blank">GNM Plus</a>
          <a href="https://open.spotify.com/artist/0bdfiayQAKewqEvaU6rXCv" class="button-music" target="_blank">MØ</a>
          <a href="https://www.youtube.com/watch?v=OtctMSKDLaY" class="button-gfx" target="_blank">Jakub Knapik</a>
        </div>
        <div class="links-wrap" id="mobile-links-2">
          <a href="https://www.youtube.com/watch?v=4D3oIvnAb7k" class="button-gfx" target="_blank">Michał Skrzypiec</a>
          <a href="http://www.incubushq.com" class="button-music" target="_blank">Incubus</a>
        </div>
        <div class="links-wrap" id="mobile-links-2">
          <a href="https://open.spotify.com/show/62HlRCGnRnUENPPOfGYdyY" class="button-code" target="_blank">Piątki po Deployu</a>
          <a href="https://open.spotify.com/show/7dQrF3hccpNwoB56bX86yl" class="button-podcast" target="_blank">Faux Paux</a>
        </div>
        <div class="links-wrap" id="mobile-links-2">
          <a href="https://open.spotify.com/show/0iCB70pKYejAaeSuL6Deh5" class="button-podcast" target="_blank">Eurogamer Extra</a>
          <a href="https://www.dukope.com" class="button-gfx" target="_blank">Lucas Pope</a>
        </div>
        <div class="links-wrap" id="mobile-links-2">
          <a href="https://www.polskigamedev.pl/" class="button-podcast" target="_blank">Polski Gamedev</a>
          
          <a href="https://open.spotify.com/show/3wMgSXoca4MTuEzBK76tud" class="button-podcast" target="_blank">Rock i Borys</a>
          
        </div>




      </div>
    </div>
  </div>
</section>
