<section class="books" id="books">
  <div class="books-wrap">
    <h2 class="www-title"><span class="red-color">.</span>książki</h2>
    <div class="books-tiles-wrap">

        <div class="book-tile">
          <a href="http://www.rockstarbook.pl" target="_blank">
            <div class="rockstar-book-cover">
              <div class="cover-blanket"></div>
            </div></a>
          </div>


          <div class="book-tile">
            <a href="skeleton.html" target="_blank">
              <div class="skeleton-book-cover">
                <div class="cover-blanket"></div>
              </div></a>
          </div>

    </div>
  </div>
</section>
