<section class="contact" id="contact">
    <div class="contact-wrap">
        <h2 class="www-title"><span class="red-color">.</span>kontakt</h2>
    <div class="contact-tiles-wrap">
        <div class="contact-tile">
            <div class="contact-illustration"></div>
        </div>
        <div class="contact-tile" id="mail-adress">
            <h4 class="dont">Don't be shy and say hi</h4>
            <h3 class="gmail">blazej.wilczynski</h3>
            <p class="at">[at]</p>
            <h3 class="gmail">gmail.com</h3>

        </div>
    </div>
    </div>
</section>