<section class="gfx" id="gfx">
  <div class="gfx-wrap">
    <h2 class="www-title"><span class="red-color">.</span>grafika</h2>
    <div class="gfx-tiles-wrap">
      <div class="gfx-tile">
        <a href="http://www.behance.net/blazejwilczynski" target="_blank">
        <div class="gfx-tile-cover behance-cover">
          <div class="cover-blanket"></div>
        </div></a>
        <div class="behance-logo-written"><a href="http://www.behance.net/blazejwilczynski" target="_blank">
          {% include icons/behance-logo-written-responsive-1.html %}</a>
        </div>
      </div>
      <div class="gfx-tile">
        <a href="http://www.dribbble.com/blazejwilczynski" target="_blank">
        <div class="gfx-tile-cover dribbble-cover">
          <div class="cover-blanket"></div>
        </div></a>
        <div class="dribbble-logo-written"><a href="http://www.dribbble.com/blazejwilczynski" target="_blank">
          {% include icons/dribbble-logo-written-responsive-1.html %}</a>
        </div>
      </div>
    </div>
  </div>
</section>
