<header>
  <div class="header-wrap">
    <div class="bw-logo"></div>
    <nav>
      <div class="nav-element">
        <a href="#www">WWW</a>
      </div>
      <div class="nav-element">
        <a href="#graphics">GRAFIKA</a>
      </div>
      <div class="nav-element">
        <a href="#books">KSIĄŻKI</a>
      </div>
      <div class="nav-element">
        <a href="#about-me">O MNIE</a>
      </div>
      <div class="nav-element">
        <a href="#contact">KONTAKT</a>
      </div>
    </nav>
    <div class="social-icons-wrap">
      <div class="social-links">
        <div class="social-logo none-transition">
          <a href="http://www.github.com/blazejwilczynski" target="_blank"
            >{% include icons/github-logo.html %}</a
          >
        </div>
        <div class="social-logo">
          <a href="http://www.behance.com/blazejwilczynski" target="_blank"
            >{% include icons/behance-logo.html %}</a
          >
        </div>
        <div class="social-logo-dribbble">
          <a href="http://www.dribbble.com/blazejwilczynski" target="_blank"
            >{% include icons/dribbble-logo.html %}</a
          >
        </div>
        <div class="social-logo">
          <a href="http://www.instagram.com/blazej_wilczynski" target="_blank"
            >{% include icons/instagram-logo.html %}</a
          >
        </div>
      </div>
    </div>

    <!-- start of code of hamburger toggler -->

    <div class="menu-wrap">
      <input type="checkbox" class="toggler" />
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="#www">WWW</a></li>
              <li><a href="#graphics">GRAFIKA</a></li>
              <li><a href="#books">KSIĄŻKI</a></li>
              <li><a href="#about-me">O MNIE</a></li>
              <li><a href="#contact">KONTAKT</a></li>
            </ul>
            <div class="social-icons-wrap-mobile">
            <div class="social-links-mobile">
              <div class="social-logo-mobile">
                <a href="http://www.github.com/blazejwilczynski" target="_blank"
                  >{% include icons/github-logo.html %}</a
                >
              </div>
              <div class="social-logo-mobile">
                <a
                  href="http://www.behance.com/blazejwilczynski"
                  target="_blank"
                  >{% include icons/behance-logo.html %}</a
                >
              </div>
              <div class="social-logo-dribbble-mobile">
                <a
                  href="http://www.dribbble.com/blazejwilczynski"
                  target="_blank"
                  >{% include icons/dribbble-logo.html %}</a
                >
              </div>
              <div class="social-logo-mobile">
                <a
                  href="http://www.instagram.com/blazej_wilczynski"
                  target="_blank"
                  >{% include icons/instagram-logo.html %}</a>
              </div>
            </div>

          </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end of code of hamburger -->
  </div>
</header>
