<section class="landing">
  <div class="landing-1-wrapper">
    <div class="landing-main-image"></div>
    <div class="lets-rock">
      <div class="slogan-1-wrapper">
        <div class="slogan-1a">Let's rock with</div>
        <div class="slogan-1b" id="slogan-1-changer">websites</div>
      </div>
    </div>
  </div>

  <div class="landing-2-wrapper">
    <div class="no-internet">
      <div class="slogan-2-wrapper">
        <div class="slogan-2a-wrapper">
          <div class="slogan-2a">Even if you are</div>
        </div>
        <div class="slogan-2b-wrapper">
          <div class="slogan-2b">offline</div>
        </div>
      </div>
    </div>
    <div class="no-internet-image"></div>
  </div>
</section>
