<section class="www" id="www">
  <div class="www-projects-wrap">
    <h2 class="www-title"><span class="red-color">.</span>www</h2>
    <div class="tiles-wrap">
      <div class="project-tile">
        <h3 class="project-tile-title">Rockstar</h3>
        <div class="project-cover rockstar-cover"></div>
        <div class="project-description">
          Strona www stworzona do mojej debiutanckiej książki „Rockstar”
        </div>
        <div class="button-wrap">
          <a href="http://www.rockstarbook.pl"
            target="_blank"
            class="button-www">zobacz</a>
        </div>
      </div>
      <div class="project-tile">
        <h3 class="project-tile-title">Skeleton</h3>
        <div class="project-cover skeleton-cover"></div>
        <div class="project-description">
          Witryna do mojej drugiej książki „Skeleton” 
        </div>
        <div class="button-wrap">
          <a href="http://www.skeleton.skeleton"
            target="_blank"
            class="button-www">wkrótce</a>
        </div>
      </div>
      <div class="project-tile">
        <h3 class="project-tile-title">Dziewiętnaście77</h3>
        <div class="project-cover dziewietnascie77-cover"></div>
        <div class="project-description">
          Strona www dla Centrum Języków Obcych „Dziewiętnaście 77”
        </div>
        <div class="button-wrap">
          <a href="http://www.dziewietnascie77.pl"
            target="_blank"
            class="button-www">zobacz</a>
        </div>
      </div>
    </div>
  </div>
</section>
