.landing {
  max-width: 1025px;
  //height: 850px;
  margin: 25px auto;
  margin-top: 85px;
  color: rgba(0, 0, 0, 0.75);
  
  //background: lightcoral;
}

//Start of landing 1

.landing-1-wrapper {
  height: 430px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  //background: salmon;
}

.landing-main-image {
  height: 430px;
  width: 320px;
  //background: lightseagreen;
  background-image: url("../img/landing-main-320px-420px.svg");
  background-size: cover;
  background-position: center;
}

.welcome-wrapper {
  width: 400px;
  height: 430px;
  padding-top: 80px;
  padding-left: 20px;
  //background: salmon;
  line-height: 1.2;
}

.welcome-wrapper h1 { 
  font-size: 70px;
  font-weight: 400;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.welcome-wrapper h2 { 
  font-size: 40px;
  font-weight: 400;
  margin-top: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h2.bw-name {
  line-height: 1.6;
  font-weight: 600;
}

h3.elements-information {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.2;
}

span.red-color {
  color: $creepy-pink
}

//End of landing 1

//---------------

//Start of landing 2

