.landing {
  max-width: 1025px;
  //height: 850px;
  margin: 25px auto;
  margin-top: 85px;
  
  //background: lightcoral;
}

//Start of landing 1

.landing-1-wrapper {
  height: 430px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  //background: salmon;
}

.landing-main-image {
  height: 430px;
  width: 320px;
  //background: lightseagreen;
  background-image: url("../img/landing-main-320px-420px.svg");
  background-size: cover;
  background-position: center;
}

.lets-rock {
  height: 350px;
  width: 550px;
  //background: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  color: #3c3c3c;
}

.slogan-1-wrapper {
  //background: lightcoral;
  // display: inline-block;
}

.slogan-1a {
  display: inline-block;
}

.slogan-1b {
  display: inline-block;
  //font-family: 'Libre Baskerville', serif;
  font-weight: 500;
  //font-style: italic;
  color: $creepy-pink;
  width: 200px;
  height: 75px;
  //background: lightseagreen;
  border-bottom: 3px solid #3c3c3c;
  text-align: center;
}

//End of landing 1

//---------------

//Start of landing 2

.landing-2-wrapper {
  height: 420px;
  width: 100%;
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.no-internet-image {
  height: 420px;
  width: 370px;
  background-image: url("../img/no-internet-image-370-x-420.svg");
  background-size: cover;
  background-position: center;
}

.no-internet {
  height: 420px;
  width: 500px;
  //background: lightseagreen;
  //display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  color: #3c3c3c;
}

.slogan-2-wrapper {
  width: 550px;
  //background: lightcoral;
  display: block;
  align-items: center;
  margin-top: 100px;
  // display: inline-block;
}

.slogan-2a-wrapper {
  display: inline-flex;
  height: 50px;
  text-align: center;
  align-items: center;
}

.slogan-2b-wrapper {
  display: inline-flex;
  height: 50px;
  align-items: center;
  text-align: center;
}

.slogan-2a {
  //height: 50px;

  display: block;
  text-align: center;
  margin-left: 15px;
}

.slogan-2b {
  //height: 50px;
  width: 160px;
  display: block;
  text-align: center;
  margin-left: 7px;
  color: $background-color;
  background: rgba(0, 0, 0, 0.75);
}
